<!-- <ngb-accordion #acc="ngbAccordion" style="width: 220px" class="ui icon green button button_size" [attr.data-tooltip]="sensor.sensorDescription"
  data-position="right center" [id]="sensor.sensorId" draggable="true" (dragstart)="dragM($event)" (drag)="dragging($event)">
  <ngb-panel [id]="sensor.sensorId" [title]="sensor.sensorDisplayName">
    <ng-template ngbPanelContent>
      <button class="btn btn-warning" (click)="deleteS(sensor.sensorId)">Delete</button>
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->

<div class="ml-1">
  <button mdbBtn color="primary" style="width: 205px" class="waves-light" type="button" (click)="test.toggle()" [attr.data-tooltip]="sensor.sensorDescription"
    data-position="right center" [id]="sensor.sensorId" draggable="true" (dragstart)="dragM($event)" (drag)="dragging($event)"
    mdbWavesEffect>
    {{sensor.sensorDisplayName}}
  </button>

  <div class="float-right" mdbCollapse #test="bs-collapse">
    <button class="btn btn-warning" (click)="deleteS(sensor.sensorId)">Delete</button>
  </div>
</div>


<!--[attr.data-content]="sensor.sensorDescription"-->
<!--data-variation="wide"-->

<!--[attr.data-tooltip]="sensor.sensorDescription"-->
<!--data-position="right center"-->